:root,
[data-bs-theme=light] 
{
	--ph-body-color: #212529;

	--ph-body-bg: #FFFFFF;
	--ph-body-color-rgb: rgba(255, 255, 255, 1);

	--ph-content-color: #000000;
	--ph-content-bg: #FFFFFF;

	/* Primary Color */

	--ph-primary: #E01D24;
	--ph-primary-rgb: rgba(224, 29, 36, 1);

	--ph-primary-link: #E01D24;

	--ph-primary-color-subtle: #E01D24;
	--ph-primary-color-subtle-2: #E01D24;

	--ph-primary-bg-subtle: #F9D2D3;
	--ph-primary-bg-subtle-2: #FCE8E9;

	--ph-primary-bg-subtle-color-mix: color-mix(in srgb, var(--ph-primary) 20%, transparent);
	--ph-primary-bg-subtle-2-color-mix: color-mix(in srgb, var(--ph-primary) 10%, transparent);

	--ph-primary-border-subtle: #F9D2D3;
	--ph-primary-border-subtle: #FCE8E9;

	--ph-primary-text-emphasis: #FFFFFF;

	--ph-primary-hover-bg: #B9181E;
	--ph-primary-hover-text: #FFFFFF;
	--ph-primary-hover-border: #B9181E;

	--ph-primary-focus-shadow-rgb: rgba(253, 243, 244, 1);

	--ph-primary-active-bg: #E01D24;
	--ph-primary-active-text: #FFFFFF;
	--ph-primary-active-border: #E01D24;
	--ph-primary-active-shadow: #FDF3F4;

	--ph-primary-disable-bg: #EB6C70;
	--ph-primary-disable-text: #FFFFFF;
	--ph-primary-disable-border: #EB6C70;

	/* Secondary Color  */

	--ph-secondary: #00A4CB;
	--ph-secondary-rgb: rgba(0, 164, 203, 1);

	--ph-secondary-color-subtle: #006B84;
	--ph-secondary-color-subtle-2: #006B84;

	--ph-secondary-bg-subtle: #CCEDF5;
	--ph-secondary-bg-subtle-2: #E5F6FA;

	--ph-secondary-bg-subtle-color-mix: color-mix(in srgb, var(--ph-secondary) 20%, transparent);
	--ph-secondary-bg-subtle-2-color-mix: color-mix(in srgb, var(--ph-secondary) 10%, transparent);
	
	--ph-secondary-border-subtle: #CCEDF5;
	--ph-secondary-border-subtle-2: #E5F6FA;
	
	--ph-secondary-text-emphasis: #FFFFFF;

	--ph-secondary-hover-bg: #0087A7;
	--ph-secondary-hover-text: #FFFFFF;
	--ph-secondary-hover-border: #0087A7;

	--ph-secondary-focus-shadow-rgb: rgba(242, 250, 252, 1);

	--ph-secondary-active-bg: #00A4CB;
	--ph-secondary-active-text: #FFFFFF;
	--ph-secondary-active-border: #00A4CB;
	--ph-secondary-active-shadow: #F2FAFC;

	--ph-secondary-disable-bg: #9BDBEA;
	--ph-secondary-disable-text: #FFFFFF;
	--ph-secondary-disable-border: #9BDBEA;

	/* Callout Toast */

	--ph-callout-bg: #FFFFFF;
	--ph-callout-color: #000000;

	--ph-callout-success-color: #04BB7B;
	--ph-callout-danger-color: #DC3545;
	--ph-callout-info-color: #0DCAF0;
	--ph-callout-warning-color: #FFC107;

	/* Default Modal CRUD  */

	--ph-modal-create-width: 500px;
	--ph-modal-read-width: 500px;
	--ph-modal-update-width: 500px;
	--ph-modal-delete-width: 425px;

	/* Default Header Background Color  */

	--page-header-background: #EC777B;

	/* Other Variable CSS */

	--vs-selected-bg: #F0F0F0;
	--vs-controls-color: rgba(60, 60, 60, 0.5);

	--vs-dropdown-bg: #FFFFFF;
	--vs-dropdown-color: #000000;
	--vs-dropdown-option-color: #000000;

	--vs-dropdown-option--active-bg: #E01D24;
	--vs-dropdown-option--active-color: #EEEEEE;
}

[data-bs-theme=dark] 
{
	--ph-body-color: #FFFFFF;

	--ph-body-bg: #212529;
	--ph-body-color-rgb: rgba(33, 37, 41, 1);

	--ph-content-color: #FFFFFF;
	--ph-content-bg: #36393D;

	/* Primary Color  */

	--ph-primary: #E01D24;
	--ph-primary-rgb: rgba(224, 29, 36, 1);

	--ph-primary-link: #EB6C71;

	--ph-primary-color-subtle: #EB6C71;
	--ph-primary-color-subtle-2: #EB6C71;

	--ph-primary-bg-subtle: #472428;
	--ph-primary-bg-subtle-2: #352429;

	--ph-primary-bg-subtle-color-mix: background-color: color-mix(in srgb, var(--ph-primary) 20%, var(--ph-primary) 0%);
	--ph-primary-bg-subtle-2-color-mix: background-color: color-mix(in srgb, var(--ph-primary) 10%, var(--ph-primary) 0%);

	--ph-primary-border-subtle: #472428;
	--ph-primary-border-subtle: #352429;

	--ph-primary-text-emphasis: #FFFFFF;

	--ph-primary-hover-bg: #FF2914;
	--ph-primary-hover-text: #FFFFFF;
	--ph-primary-hover-border: #FF2914;

	--ph-primary-focus-shadow-rgb: rgba(253, 243, 244, 1);

	--ph-primary-active-bg: #E01D24;
	--ph-primary-active-text: #FFFFFF;
	--ph-primary-active-border: #E01D24;
	--ph-primary-active-shadow: #FDF3F4;

	--ph-primary-disable-bg: #EB6C70;
	--ph-primary-disable-text: #FFFFFF;
	--ph-primary-disable-border: #EB6C70;

	/* Secondary Color  */

	--ph-secondary: #00A4CB;
	--ph-secondary-rgb: rgba(0, 164, 203, 1);

	--ph-secondary-color-subtle: #59c4dd;
	--ph-secondary-color-subtle-2: #59c4dd;

	--ph-secondary-bg-subtle: #1A3F4A;
	--ph-secondary-bg-subtle-2: #1E323A;

	--ph-secondary-bg-subtle-color-mix: color-mix(in srgb, var(--ph-secondary) 20%, transparent);
	--ph-secondary-bg-subtle-2-color-mix: color-mix(in srgb, var(--ph-secondary) 10%, transparent);
	
	--ph-secondary-border-subtle: #CCEDF5;
	--ph-secondary-border-subtle-2: #E5F6FA;
	
	--ph-secondary-text-emphasis: #FFFFFF;

	--ph-secondary-hover-bg: #0087A7;
	--ph-secondary-hover-text: #FFFFFF;
	--ph-secondary-hover-border: #0087A7;

	--ph-secondary-focus-shadow-rgb: rgba(242, 250, 252, 1);

	--ph-secondary-active-bg: #00A4CB;
	--ph-secondary-active-text: #FFFFFF;
	--ph-secondary-active-border: #00A4CB;
	--ph-secondary-active-shadow: #F2FAFC;

	--ph-secondary-disable-bg: #9BDBEA;
	--ph-secondary-disable-text: #FFFFFF;
	--ph-secondary-disable-border: #9BDBEA;

	/* Callout Toast */

	--ph-callout-bg: #000000;
	--ph-callout-color: #FFFFFF;

	--ph-callout-success-color: #04BB7B;
	--ph-callout-danger-color: #DC3545;
	--ph-callout-info-color: #0DCAF0;
	--ph-callout-warning-color: #FFC107;

	/* Other Variable CSS */

	--vs-selected-bg: #676767;
	--vs-controls-color: rgba(255, 255, 255, 0.5);

	--vs-dropdown-bg: #282C34;
	--vs-dropdown-color: #FFFFFF;
	--vs-dropdown-option-color: #FFFFFF;

	--vs-dropdown-option--active-bg: #E01D24;
	--vs-dropdown-option--active-color: #EEEEEE;
}

@font-face 
{
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-LightItalic.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-LightItalic.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-Light.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-Light.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-Regular.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-Regular.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-MediumItalic.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-MediumItalic.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-Medium.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-Medium.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-SemiBoldItalic.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-SemiBoldItalic.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-SemiBold.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-SemiBold.woff2') format('woff2');
}

@font-face 
{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: 
	url('/assets/fonts/nunito/ttf/Nunito-Bold.ttf') format('truetype'),
	url('/assets/fonts/nunito/woff2/Nunito-Bold.woff2') format('woff2');
}

body 
{
	margin: 0;
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: var(--ph-font-size);
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #FFFFFF;
}

a 
{
	color: var(--ph-primary-link);
}

.btn
{
	border-radius: .45rem;
	font-size: var(--ph-font-size);
}

.btn-larapx
{
	--bs-btn-color: #FFFFFF;
	--bs-btn-bg: var(--ph-primary);
	--bs-btn-border-color: var(--ph-primary);

	--bs-btn-hover-color: var(--ph-primary-hover-text);
	--bs-btn-hover-bg: var(--ph-primary-hover-bg);
	--bs-btn-hover-border-color: var(--ph-primary-hover-border);

	--bs-btn-focus-shadow-rgb: var(--ph-primary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-primary-active-text);
	--bs-btn-active-bg: var(--ph-primary-active-bg);
	--bs-btn-active-border-color: var(--ph-primary-active-border);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-primary-active-shadow);

	--bs-btn-disabled-color: var(--ph-primary-disable-text);
	--bs-btn-disabled-bg: var(--ph-primary-disable-bg);
	--bs-btn-disabled-border-color: var(--ph-primary-disable-border);
}

.btn-outline-larapx
{
	--bs-btn-color: var(--ph-primary);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--ph-primary);

	--bs-btn-hover-color: var(--ph-primary-hover-text);
	--bs-btn-hover-bg: var(--ph-primary);
	--bs-btn-hover-border-color: var(--ph-primary);

	--bs-btn-focus-shadow-rgb: var(--ph-primary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-primary-active-text);
	--bs-btn-active-bg: var(--ph-primary-active-bg);
	--bs-btn-active-border-color: var(--ph-primary-active-border);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-primary-active-shadow);

	--bs-btn-disabled-color: var(--ph-primary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--ph-primary-disable-border);
}

.btn-subtle-larapx
{
	--bs-btn-color: var(--ph-primary-color-subtle);
	--bs-btn-bg: var(--ph-primary-bg-subtle);
	--bs-btn-border-color: var(--ph-primary-bg-subtle);

	--bs-btn-hover-color: #FFFFFF;
	--bs-btn-hover-bg: var(--ph-primary);
	--bs-btn-hover-border-color: var(--ph-primary);

	--bs-btn-focus-shadow-rgb: var(--ph-primary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-primary-color-subtle);
	--bs-btn-active-bg: var(--ph-primary-bg-subtle);
	--bs-btn-active-border-color: var(--ph-primary-bg-subtle);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-primary-active-shadow);

	--bs-btn-disabled-color: var(--ph-primary-color-subtle);
	--bs-btn-disabled-bg: var(--ph-primary-bg-subtle);
	--bs-btn-disabled-border-color: var(--ph-primary-bg-subtle);
}

.btn-subtle-2-larapx
{
	--bs-btn-color: var(--ph-primary-color-subtle-2);
	--bs-btn-bg: var(--ph-primary-bg-subtle-2);
	--bs-btn-border-color: var(--ph-primary-bg-subtle-2);

	--bs-btn-hover-color: #FFFFFF;
	--bs-btn-hover-bg: var(--ph-primary);
	--bs-btn-hover-border-color: var(--ph-primary);

	--bs-btn-focus-shadow-rgb: var(--ph-primary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-primary-color-subtle-2);
	--bs-btn-active-bg: var(--ph-primary-bg-subtle-2);
	--bs-btn-active-border-color: var(--ph-primary-bg-subtle-2);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-primary-active-shadow);

	--bs-btn-disabled-color: var(--ph-primary-color-subtle-2);
	--bs-btn-disabled-bg: var(--ph-primary-bg-subtle-2);
	--bs-btn-disabled-border-color: var(--ph-primary-bg-subtle-2);
}

.btn-secondary-larapx
{
	--bs-btn-color: #FFFFFF;
	--bs-btn-bg: var(--ph-secondary);
	--bs-btn-border-color: var(--ph-secondary);

	--bs-btn-hover-color: var(--ph-secondary-hover-text);
	--bs-btn-hover-bg: var(--ph-secondary-hover-bg);
	--bs-btn-hover-border-color: var(--ph-secondary-hover-border);

	--bs-btn-focus-shadow-rgb: var(--ph-secondary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-secondary-active-text);
	--bs-btn-active-bg: var(--ph-secondary-active-bg);
	--bs-btn-active-border-color: var(--ph-secondary-active-border);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-secondary-active-shadow);

	--bs-btn-disabled-color: var(--ph-secondary-disable-text);
	--bs-btn-disabled-bg: var(--ph-secondary-disable-bg);
	--bs-btn-disabled-border-color: var(--ph-secondary-disable-border);
}

.btn-outline-secondary-larapx
{
	--bs-btn-color: var(--ph-secondary);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--ph-secondary);

	--bs-btn-hover-color: var(--ph-secondary-hover-text);
	--bs-btn-hover-bg: var(--ph-secondary);
	--bs-btn-hover-border-color: var(--ph-secondary);

	--bs-btn-focus-shadow-rgb: var(--ph-secondary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-secondary-active-text);
	--bs-btn-active-bg: var(--ph-secondary-active-bg);
	--bs-btn-active-border-color: var(--ph-secondary-active-border);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-secondary-active-shadow);

	--bs-btn-disabled-color: var(--ph-secondary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--ph-secondary-disable-border);
}

.btn-subtle-secondary-larapx
{
	--bs-btn-color: var(--ph-secondary-color-subtle);
	--bs-btn-bg: var(--ph-secondary-bg-subtle);
	--bs-btn-border-color: var(--ph-secondary-bg-subtle);

	--bs-btn-hover-color: #FFFFFF;
	--bs-btn-hover-bg: var(--ph-secondary);
	--bs-btn-hover-border-color: var(--ph-secondary);

	--bs-btn-focus-shadow-rgb: var(--ph-secondary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-secondary-color-subtle);
	--bs-btn-active-bg: var(--ph-secondary-bg-subtle);
	--bs-btn-active-border-color: var(--ph-secondary-bg-subtle);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-secondary-active-shadow);

	--bs-btn-disabled-color: var(--ph-secondary-color-subtle);
	--bs-btn-disabled-bg: var(--ph-secondary-bg-subtle);
	--bs-btn-disabled-border-color: var(--ph-secondary-bg-subtle);
}

.btn-subtle-2-secondary-larapx
{
	--bs-btn-color: var(--ph-secondary-color-subtle-2);
	--bs-btn-bg: var(--ph-secondary-bg-subtle-2);
	--bs-btn-border-color: var(--ph-secondary-bg-subtle-2);

	--bs-btn-hover-color: #FFFFFF;
	--bs-btn-hover-bg: var(--ph-secondary);
	--bs-btn-hover-border-color: var(--ph-secondary);

	--bs-btn-focus-shadow-rgb: var(--ph-secondary-focus-shadow-rgb);

	--bs-btn-active-color: var(--ph-secondary-color-subtle-2);
	--bs-btn-active-bg: var(--ph-secondary-bg-subtle-2);
	--bs-btn-active-border-color: var(--ph-secondary-bg-subtle-2);
	--bs-btn-active-shadow: inset 0 3px 5px var(--ph-secondary-active-shadow);

	--bs-btn-disabled-color: var(--ph-secondary-color-subtle-2);
	--bs-btn-disabled-bg: var(--ph-secondary-bg-subtle-2);
	--bs-btn-disabled-border-color: var(--ph-secondary-bg-subtle-2);
}

.bg-larapx-primary
{
	background-color: var(--ph-primary);
}

.bg-larapx-primary-subtle
{
	background-color: var(--ph-primary-bg-subtle);
}

.bg-larapx-primary-subtle-2
{
	background-color: var(--ph-primary-bg-subtle-2);
}

.text-larapx-primary
{
	color: var(--ph-primary);
}

.text-larapx-primary-subtle
{
	color: var(--ph-primary-color-subtle);
}

.text-larapx-primary-subtle-2
{
	color: var(--ph-primary-color-subtle-2);
}

.bg-larapx-secondary
{
	background-color: var(--ph-secondary);
}

.bg-larapx-secondary-subtle
{
	background-color: var(--ph-secondary-bg-subtle);
}

.bg-larapx-secondary-subtle-2
{
	background-color: var(--ph-secondary-bg-subtle-2);
}

.text-larapx-secondary
{
	color: var(--ph-secondary);
}

.text-larapx-secondary-subtle
{
	color: var(--ph-secondary-color-subtle);
}

.text-larapx-secondary-subtle-2
{
	color: var(--ph-secondary-color-subtle-2);
}

.ph-callout
{
	min-width: 300px;
	max-width: 350px;
	font-size: 0.875rem;
	position: relative;
	border-radius: 10px;
	padding: 0.5rem 0.75rem;
	background-clip: padding-box;
	overflow: hidden;
}

.ph-callout-success
{
	color: var(--ph-callout-color);
	background-color: var(--ph-callout-bg);
}

.ph-callout-success::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	inset-block-start: 0;
	inset-inline-start: 0;
	background-color: var(--ph-callout-success-color);
}

.ph-callout-danger
{
	color: var(--ph-callout-color);
	background-color: var(--ph-callout-bg);
}

.ph-callout-danger::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	inset-block-start: 0;
	inset-inline-start: 0;
	background-color: var(--ph-callout-danger-color);
}

.ph-callout-info
{
	color: var(--ph-callout-color);
	background-color: var(--ph-callout-bg);
}

.ph-callout-info::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	inset-block-start: 0;
	inset-inline-start: 0;
	background-color: var(--ph-callout-info-color);
}

.ph-callout-warning
{
	color: var(--ph-callout-color);
	background-color: var(--ph-callout-bg);
}

.ph-callout-warning::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	inset-block-start: 0;
	inset-inline-start: 0;
	background-color: var(--ph-callout-warning-color);
}